<a href="https://colab.research.google.com/github/Avinash-099/python_new/blob/MODULE-2/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 

List = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
List.remove('Red')
List.remove('Pink')
List.remove('Yellow')
print(List)

['Green', 'White', 'Black']

In [ ]:
def vote(name,age,gender):
  print("name=",name)
  print("age=",age)
  print("gender=",gender)
  
  if age>=18 :
    print("elligible")
  else:
    print("not elligible")
  
vote(input("enter your name"),int(input("enter your age")),input("enter your gender"))

enter your nameavinash
enter your age19
enter your gendermale
name= avinash
age= 19
gender= male
elligible

In [ ]:
def list():
 list1=[1,2,5,6]
 list2=[4,6,5,7,8]
 y=set(list1)
 x=set(list2)
 diff=y.difference(x)
 
 print(diff)

list()

{1, 2}

In [ ]:
list=[3,4,6,7,8,10]
list.sort()
print(list[1])
print(list[-2])

4
8

In [ ]:
lisy=("rabbit")
lisy.replace("b","c")

'raccit'

In [ ]:
list=[4,5,6,7,8]
result=[(val,pow(val,2)) for val in list]
print(result)

[(4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

In [ ]:
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
    string="AVinaSH"
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for i in string:
        if i.isupper():
           d["UPPER_CASE"]+=1
        elif i.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", string)
    print ("Upper case characters : ", d["UPPER_CASE"])
    print ("Lower case Characters : ", d["LOWER_CASE"])

Original String :  AVinaSH
No. of Upper case characters :  4
No. of Lower case Characters :  3