<a href="https://colab.research.google.com/github/Avinash-099/python_new/blob/MODULE-3/MODULE_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##read an entire text file.
import pandas as pd
AVINASH = {'companies':['Amazon','Wipro','google','national inst'],'location':['Hyd','Vsp','Blr','Chennai']}
x = pd.DataFrame(AVINASH)
print(x)

       companies location
0         Amazon      Hyd
1          Wipro      Vsp
2         google      Blr
3  national inst  Chennai

In [2]:
import pandas as pd
marks = [98,89,85,78]
AVI = pd.Series(marks)
print(AVI)

0    98
1    89
2    85
3    78
dtype: int64

In [3]:
import pandas as pd
AVINASH = {'companies':['Amazon','Wipro','google','fipcart'],'location':['Hyd','Vsp','Blr','Chennai']}
x = pd.DataFrame(AVINASH)
print(x)

  companies location
0    Amazon      Hyd
1     Wipro      Vsp
2    google      Blr
3   fipcart  Chennai

In [4]:
import pandas as pd
marks = [98,89,85,78]
S = pd.Series(marks)
print(S)
print(S[3])

0    98
1    89
2    85
3    78
dtype: int64
78

In [8]:
import pandas as pd
mani ={"a1": 19, "a2": 15, "a3": 18}
x = pd.Series(mani,index=["a1","a2"])
print(x)

a1    19
a2    15
dtype: int64

In [9]:
import pandas as pd
empPublications = {
  "Employees": ["hari", "mani", "vishnu"],
  "Publications": [50, 70, 65]
}
myvar = pd.DataFrame(empPublications,index=["2001","2002","2003"])
print(myvar)
print(myvar.loc["2001"])

     Employees  Publications
2001      hari            50
2002      mani            70
2003    vishnu            65
Employees       hari
Publications      50
Name: 2001, dtype: object

In [11]:
import pandas as pd

mydataset = {
  'bike': ["pulsar", "unicon", "glamer"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

     bike  passings
0  pulsar         3
1  unicon         7
2  glamer         2

In [12]:
import pandas

mydataset = {
  'tracors': ["swaraj", "kubota", "sonalika"],
  'passings': [4, 8, 3]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    tracors  passings
0    swaraj         4
1    kubota         8
2  sonalika         3

In [13]:
import pandas

mycurries = {
  'items': ["chicken", "mutton", "egg"],
  'passings': [160, 800, 5]
}

a = pandas.DataFrame(mycurries)

print(a)

     items  passings
0  chicken       160
1   mutton       800
2      egg         5

In [14]:
## index
import pandas as pd

a = [1532, 1704, 1286]

myvar = pd.Series(a)

print(myvar[0])
print(myvar[1])
print(myvar[2])

1532
1704
1286

In [15]:
## Create Labels
import pandas as pd

company=["swaraj", "kubota", "sonalika"]

myvar = pd.Series(company, index = ["x", "y", "z"])

print(myvar)

x      swaraj
y      kubota
z    sonalika
dtype: object