<a href="https://colab.research.google.com/github/Avinash-099/python_new/blob/MODULE-2/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuple
list=['avinash','sree','hari','theeja','hari']
tuple=('avinash','sree','hari','theeja','hari')
print(list)
print(len(list))
print(type(list))
print(tuple)
print(len(tuple))
print(type(tuple))

['avinash', 'sree', 'hari', 'theeja', 'hari']
5
<class 'list'>
('avinash', 'sree', 'hari', 'theeja', 'hari')
5
<class 'tuple'>

In [ ]:
#tuple1
fruits=('mango','apple','stawberry','orange')
print(type(fruits))

<class 'tuple'>

In [ ]:
#tuple2
fruits=('mango','apple','stawberry','orange')
if 'mango' in fruits:
   print("yes")

yes

In [ ]:
#tuple3
alphabets=('a','b','c','d')
alpha1=list(alphabets)
alpha1.append('e')
alphabet=tuple(alpha1)
print(alphabet)
#tuple3.1
team=('avinash','sree','balaji','rama')
team_change=list(team)
team_change.insert(1,'phani')
team=tuple(team_change)
print(team)

('a', 'b', 'c', 'd', 'e')
('avinash', 'phani', 'sree', 'balaji', 'rama')

In [1]:
## The tuple() Constructor
a = tuple(("apple", "banana", "cherry"))
print(a)

('apple', 'banana', 'cherry')

In [2]:
## Range of Negative Indexes
## returns the items from index -4 (included) to index -1 (excluded)
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits [-5:-1])
print(fruits [-4:0])
print(fruits [-3:-2])

('cherry', 'orange', 'kiwi', 'melon')
()
('kiwi',)

In [3]:
##  tuple into a list, add "sheep", and convert it back into a tuple
a=("cow","goat","bufallow","bullock")
b=list(a)
b[2]="sheep"
a= tuple(b)
print(a)

('cow', 'goat', 'sheep', 'bullock')

In [4]:
##Unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [5]:
animals=("cow","buffalow","goat","sheep")
for x in animals:
  print(x)

cow
buffalow
goat
sheep

In [6]:
## Remove Items
## Convert the tuple into a list, remove "cow", and convert it back into a tuple:
animals=("cow","buffalow","goat","sheep")
y = list(animals)
y.remove("cow")
animals = tuple(y)
print(animals)

('buffalow', 'goat', 'sheep')

In [7]:
## Tuple Items - Data Types
a = ("apple", "banana", "cherry")
print(a)
b = (1, 5, 7, 9, 3)
print(b)
c = (True, False, False)
print(c)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)